<!DOCTYPE html>
<html>
<head>
  <title>BlacklightMaps</title>
  <%= stylesheet_link_tag    "blacklight_maps/application", media: "all" %>
  <%= javascript_include_tag "blacklight_maps/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
