<!DOCTYPE html>
<html>
<head>
  <title>BlacklightHeatmaps</title>
  <%= stylesheet_link_tag    "blacklight_heatmaps/application", media: "all" %>
  <%= javascript_include_tag "blacklight_heatmaps/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
